body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

#buscar_pokemon {
  width: 30%;
  padding: 12px;
  margin: 0 auto;
  display: block;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.types_pokemons {
  text-align: center;
  margin-bottom: 20px;
}

.tipe_pokemon {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pokemon-container p {
  text-align: center;
  font-size: 14px;
  margin-bottom: 5px;
}

.pokemon-container img {
  margin-bottom: 15px;
}

.request_pokemon {
  background-color: #008CBA;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 4px;
}

.request_pokemon:hover {
  background-color: #005b79;
}
